* {
	margin: 0;
	padding: 0
}
html {
	--light: #f1f1f1;
	--dark: #131616;
	--main: #23CE6B;
	--secondary: #9b4Ae3;
}
body {
	background-color: var(--dark);
	color: var(--light);
	font-family: 'Source Code Pro', monospace;
}

.margin {
	max-width: 1200px;
	margin: auto;
}

h1, h2, h3 {
	font-family: 'Yatra One', cursive;
	letter-spacing: 2px;
}
h1 {
	font-size: 3rem;
	line-height: 4.8rem;
	color: var(--secondary);
}
h2 {
	font-size: 2rem;
	line-height: 3.2rem;
}
h3 {
	font-size: 1.2rem;
	line-height: 2.6rem;
}
p {
	font-size: 1rem;
	line-height: 1.6rem;
}

::selection {
	background-color: var(--secondary);
	color: var(--dark);
}
