header {
	height: 100vh;
	text-align: center;

	display: grid;
	align-items: center;
	justify-content: center;
}
.header-text {
	max-height: 100vh;
	max-width: 1200px;
	margin: 0 2rem;
	padding: 5rem;
	box-sizing: border-box;

	background-color: var(--main);
	border-radius: 7px;

	display: grid;
	grid-template: 1fr / 1fr 10fr 1fr;
	justify-content: center;
	align-items: center;
}
.header-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    border: 2px solid var(--light);
    transform: scale(0.7);
}
.header-text h1 {
	color: var(--dark);
}
.header-text h2 {
	color: var(--secondary);
}
.header-text p {
	margin: 0 1rem;
	color: var(--dark);
	writing-mode: vertical-rl;
}
.header-text p:first-of-type {
	writing-mode: vertical-lr;
}
@media (max-width: 700px) {
	h1 {
		font-size: 2.5rem;
	}

	.header-text {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	.header-text p {
		margin: 0;
	}
	.header-text::before {
		transform: scale(0.8);
	}
}

.welcome {
	max-width: 1200px;
	margin: auto;
	padding: 5rem 2rem;

	display: grid;
	grid-template: 1fr / 1fr 2fr;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}
.welcome img {
	width: 100%;
	box-shadow: -10px 20px var(--main);
}
.welcome-text h1 {
	color: var(--secondary);
}
@media (max-width: 750px) {
	.welcome {
		padding: 3rem 1rem;
		grid-template: 1fr 1fr / 1fr;
		gap: 0;
		text-align: center;
	}
}

.musics {
	max-width: 1200px;
	margin: auto;
	padding: 5rem 2rem;
}
.musics-grid {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr 1fr;
	gap: 1rem;
}
.musics-grid p:hover {
	background-color: var(--main);
	color: var(--dark);
	transition: 0.5s;
}

@keyframes phover {
	0% {background-color: var(--dark)}
	100% {background-color: var(--secondary)}
}

@media (max-width: 350px) {
	.musics-grid {
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 630px) {
	.musics-grid {
		grid-template: 1fr 1fr / 1fr 1fr;
	}
}

.reminder {
	padding: 5rem 0;

	background-color: var(--secondary);
	text-align: center;
}
.reminder img {
	width: 5rem;
}
.reminder-text {
	width: 50%;
	max-width: 600px;
	margin: auto;
	padding: 1rem 0;
	background-color: var(--dark);
}
.reminder-text h2 {
	color: var(--main);
}
@media (max-width: 700px) {
	.reminder-text {
		width: 90%;
	}
}
